@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Silkscreen:wght@700&family=Source+Code+Pro&display=swap');

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #C1EDE3;
}

#url {
    float: right;
    width: 50%;
  }
  
  #url::before {
    content: "URL: ";
  }
  
  #qrcode {
    float: right;
    size: 30px;
  }