@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Silkscreen:wght@700&family=Source+Code+Pro&display=swap');

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: #C1EDE3;
}

.topicos{
  background-color: aqua;
}
#url {
  display: inline;
  position: relative;
  float: right;
  width: 50%;
  top: -3.5em;
}

  
#url::before {
  content: "URL: ";
}
  
#qrcode {
  float: right;
  size: 30px;
}

@media screen {
  #qrcode {
  display: none;
  }
  #url {
    display: inline;
  }
}

@media print {
  #qrcode {
    position: absolute;
    float: right;
    width: 100px;
    top: 1em;
    right: 1em;
}}
